* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    display: grid;
    grid-template-columns: minmax(100px, 200px) minmax(400px, 900px) auto;
    grid-template-rows: 80px auto 150px;
    height: 100vh;
    font-size: 16px;
    font-family: Roboto,Helvetica,sans-serif;
    font-feature-settings: "onum" 1;
    text-rendering: optimizeLegibility;
    background-color: #000;
    font-weight: 300;
    color: #fff;
}

article {
    margin-bottom: 30px;
}

p {
    padding-bottom: 10px;
}

h1, h2, h3, h4 {
    font-weight: 400;
    text-transform: uppercase;
    color: #666;
}

h1 {
    padding-bottom: 15px;
    color: #555;
}
h2 {
    padding-bottom: 10px;
}
h3 {
    padding-bottom: 5px;
}
h4 {
    padding-bottom: 0;
}

a {
    color: #C7C229;
}
a:visited {
    color: #C7C229;
}
a:hover {
    color: yellowgreen;
    text-decoration: none;
}

ul {
    padding: 5px 0 20px 30px;
}

    .sidebar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;

        color: #afadad;
        background-color: #333;
        border-right: 1px solid #fff;
    }
        .sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4 {
            color: #eee;
        }

        .sidebar_nav__list {
            padding: 5px 0 20px 30px;
            text-decoration: none;
        }
                .sidebar_nav__list li a {
                    padding: 5px 0;
                    display: inline-block;
                }
                .sidebar_nav__list li a:hover {
                    text-decoration: none;
                    color: white;
                }
                .sidebar_nav__list li a:visited {
                    color: #b8b8c4;
                }
                .sidebar_nav__list li a.active {
                    color: white;
                    text-decoration: none;
                }

    .header {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
        .header__title {
            padding: 0;
            color: #6976FB;
        }
            .header__title_page-name {
                color: #1AB41E;
            }

    .page {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

        .page__article {
            margin-bottom: 30px;
        }
            .page__article-title {

            }
            .page__article-item {
                margin-bottom: 20px;
            }
                .page__article-item_title {
                    font-size: 0.9em;
                }

    .footer {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

.content {
    padding: 20px;
}

code {
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 10px;
    display: block;
    border-radius: 5px;
    margin: 10px 0;
}

/*MEDIA*/
@media only screen and (max-width: 650px) {
    body {
        grid-template-columns: minmax(250px, 650px);
        grid-template-rows: 100px auto auto 100px;
    }
    .sidebar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .page {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .footer {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
