* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    transition: background-color 1s;
    font-family: system-ui;
    display: grid;
    grid-template-columns: minmax(200px, 300px) minmax(400px, 1024px) auto;
    grid-template-rows: 150px auto 150px;
    height: 100vh;
    font-size: 1.2em;
}

h1 {
    padding-bottom: 15px;
}
h2 {
    padding-bottom: 10px;
}
h3 {
    padding-bottom: 5px;
}
h4 {
    padding-bottom: 0;
}

    .sidebar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;

        color: #afadad;
        background-color: black;
    }
        .sidebar_nav__list {
            padding: 5px 0 20px 30px;
            text-decoration: none;
        }
            .sidebar_nav__list li {
                font-size: 1.15em;
            }
                .sidebar_nav__list li a {
                    padding: 5px 0;
                    display: inline-block;
                }
                .sidebar_nav__list li a:hover {
                    text-decoration: none;
                    color: white;
                }
                .sidebar_nav__list li a:visited {
                    color: #b8b8c4;
                }
                .sidebar_nav__list li a.active {
                    color: white;
                    text-decoration: none;
                }

    .header {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
        .page__article {
            margin-bottom: 30px;
        }

    .footer {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

.content {
    padding: 10px;
}

code {
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 10px;
    display: block;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 1.2em;
}
.grid {
    width: 600px;
    margin: 0 auto;
    border-top: 1px solid;
    border-left: 1px solid;
    position: relative;
    background-color: white;
}

.grid__row {
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid;
 }
.grid__cell {
    text-align: center;
    flex: 1 0 auto;
    height: auto;
    align-items: center;
    border-right: 1px solid;
    transition: background-color 0.2s, background-image 0.5s;
    cursor: pointer;
    background-size: 100%;
}

.grid__cell.is-selected {
     cursor: default;
 }

.grid__cell.type-x {
     background-image: url("./images/x-mark-512.png");
 }

.grid__cell.type-o {
     background-image: url("./images/circle-outline-512.png");
 }

.grid__cell:hover {
     background-color: #eee;
 }

.grid__cell:before {
     content: '';
     float: left;
     padding-top: 100%;
 }


.grid__result {
    position: absolute;
    top: 0;
    left: 0;
    right: 1px;
    bottom: 1px;
    background-color: #fff;
    opacity: 0.9;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid__result_restart {
    cursor: pointer;
    color: #2667B6;
    font-size: 20px;
}
.grid__result_restart:hover {
     text-decoration: underline;
 }

.controls {
    margin: 10px 0 20px;
}
.controls__button {
    padding: 10px 20px;
    cursor: pointer;
}

.veil {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100%, 100%, 100%, 0.8);
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.mine__grid {
    display: inline-block;
    background-color: white;
}
.mine__grid .row {
    height: 30px;
    display: flex;
    justify-items: center;
}
    .mine__grid .cell {
        width: 30px;
        height: 30px;
        border: 1px solid #666;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 12px;
        text-align: center;
        font-weight: 900;
        margin: 0 -1px -1px 0;
        position: relative;
    }
    .cell__type1 {
        color: green;
    }
    .cell__type2 {
        color: blue;
    }
    .cell__type3 {
        color: saddlebrown;
    }
    .cell__type4 {
        color: fuchsia;
    }
    .cell__type5 {
        color: darkorange;
    }
    .cell__type6 {
        color: sienna;
    }
    .cell__type7 {
        color: aqua;
    }
    .cell__type8 {
        color: darkmagenta;
    }
    .cell__type9 {
        color: red;
        background-color: black;
    }
    .cell__type9:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "X";
        background-color: black;
        color: red;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    .mine__grid .cell.closed {
        position: relative;
    }
    .mine__grid .cell.closed:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background-color: gray;
    }
    .finished .cell.closed:after {
        display: none;
    }
/*MEDIA*/
@media only screen and (max-width: 650px) {
    body {
        grid-template-columns: minmax(250px, 650px);
        grid-template-rows: 100px auto auto 100px;
    }
    .sidebar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .page {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .footer {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
